(1)Haxe. You can download it from https://haxe.org/download/ choose youre platfrom and install

(2)Git. Download it at: https://git-scm.com/downloads choose youre platfrom and install

(3)Visual Studio: https://visualstudio.microsoft.com/downloads/ Before you install it tick Create game on desktop with C+++(I assume it cause im forgot Icon color is purple and model is computer have ++ on left)

(4)Cmd things:Try to type haxelib to make sure your program is working or not

(5)If it works install all this thing
					haxelib install lime 7.9.0

					haxelib install openfl

					haxelib install flixel

					haxelib run lime setup

					haxelib run lime setup flixel

					haxelib install flixel-tools

					haxelib run flixel-tools setup

					haxelib install flixel-addons

					haxelib install flixel-ui

					haxelib install hscript

					haxelib install newgrounds

					haxelib install linc_luajit

					haxelib git faxe https://github.com/uhrobots/faxe

					haxelib git polymod https://github.com/larsiusprime/polymod.git

					haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc

(type on cmd or windows powershell)

(6)FNF SOURCE CODE: Download or clone(git clone ) it at https://github.com/ninjamuffin99/ld47



(That's all for requirements If you're going to coding right now go to FNF CODING TUTORIAL.txt)